body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
    background-color: #000000;
    color: #ffffff;
}

h1 {
    color: #ff8400;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

a {
    color: #428bca;
}