@import "./partials/variables";
@import "./partials/font";
@import "./partials/condicionales";

// ELIMINACION DE MARGEN Y RELLENO
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    align-items: center;
    min-height: 100vh;
    background-color: $color-body;
    width: $ancho;
    height: $alto;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    a{
    text-decoration: none;
    color: $color-secondary;
    padding-right: 20px;
    }
    h1{
    font-size: 30px;
    display: inline;
    justify-content: center;
    align-items: center;
    color: $color-secondary;
    font-weight: 900;
    font-style: italic;
    margin: 15px;
    &:hover{
        transition: all 0.3s;
        color: #ff8400;
    }
    }
    h2{
    font-size: 30px;
    color: $color-primary;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px;
}
.descuento, a{
    display: flex;
    justify-content: center;

}
}
// HEADER

header {
    position: absolute;
    z-index: 100;
    width: $ancho;
    height: 70px;
    display: flex;
    background-color: $color-head-footer;
    box-shadow: 0 0 10px black;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: sticky;
    .enlace{
        width: $ancho;
        color: $color-primary;
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin-top: 15px;
        padding: 20px;
    }
    .nav1 a{
        display: inline-block;
        font-size: 16px;
        padding: 10px;
        color: $color-secondary;
        font-weight: 600;
        transition: all 0.05s;
        &:hover{
            transition: all 0.1s;
            color: #ff8400;
            transform: scale(1.03);
        }
        &:active{
            color: #464646;
            transform: scale(1.01);
        }
    }
}

// BANNER

.banner4{
    width: $ancho;
    display: flex;
    align-items: center;
    justify-content: center;
    }

/*Estilo menu hamburguesa*/

#check-menu, .menu-icon{
    display: none;
    cursor: pointer;
i{
    color: $color-secondary;
    font-size: $tamanio*2.5;
    transition: all 0.3s;
    &:hover{
        color: #464646;
    }
    &:active{
        color: #222;
    }
}
}

// BARRA DE BUSQUEDA DE SHOP

.buscar{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-secondary;
    input{
            position: absolute;
            width: 350px;
            height: 40px;
            padding: 0 20px;
            font-size: 15px;
            color: $color-secondary;
            outline: none;
            border-radius: 10px;
            margin-bottom: 20px;
            background-color:#d6d5d52d;
            border: 2px solid rgb(88, 88, 88);
        }
    }

// IMAGEN DE DESCUENTO SECCION SHOP

.imag{
    background-color: #141414;
}
.imgsmall2{
    width: $ancho;
    height: $alto;
}

// texto AYUDA/¿QUIENES SOMOS?

.texto{
    margin: 10px;
    .texto2{
        padding: 15px;
        h3{
            font-family: $fuente;
            display: flex;
            text-align: start;
            justify-content: start;
            color: black;
            font-size: 20px;
            font-weight: 700;
        }
        p{
            font-family: $fuente2;
            display: flex;
            text-align: start;
            justify-content: start;
            color: $color-primary;
            font-size: 15px;
        }
    }    
}

// TABLA DE TALLES EN LA SECCION AYUDA

.tabla {
    display: flex;
    align-items: start;
    justify-content: start;
.tabla1 {
    width: 50vh;
    height: 50vh;
}
}

// REMERAS1

.remeras1 {
    display: grid;
    grid-template-columns: repeat(4, 5fr);
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    margin: 10px;
    article{
        box-shadow: 0px 0px 1px #777777;
        border-radius: 2px;
    }
    .imgSmall {
        width: $ancho;
        height: $alto;
        object-fit: contain;
        border-radius: 2px;
        &:hover{
            box-shadow: 0px 0px 5px #222;
            transform: scale(1.02);
            border-radius: 0;
            cursor: pointer;
            transition: all 0.1s;   
        }
        &:active{
            transform: scale(1.01);
        }
    }
    .off{
        display: flex;
        justify-content: left;
        position: absolute;
        color: $color-secondary;
        background-color: rgb(0, 0, 0);
        font-weight: 700;
        font-size: 15px;
        border-radius: 8px;
    }
    .title-img3{
        font-family: $fuente2;
        color: $color-primary;
        font-style: italic;
        display: flex;
        text-align: center;
        justify-content: center;
        padding-top: 10px;
        font-weight: 600;
        font-size: 15px;
        transition: all 0.3s;
        &:hover{
            color: #464646;
            cursor: pointer;
        }
    }
    .title-img2 {
        font-family: $fuente2;
        color: $color-primary;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-inline: 10px;
        font-weight: 700;
        font-size: 16px;
        &:hover{
            cursor: pointer;
        }    
    }
    .title-img1 {
        font-family: $fuente2;
        color: rgb(85, 85, 85);
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 15px
    }
    .precios-bajos{
        display: flex;
        text-align: center;
        justify-content: center;  
    }
}

// SEGUINOS EN INSTAGRAM

.pre-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    padding: 40px;
    i{
        color: $color-secondary;
        font-size: $ancho*5;
        display: inline;
        align-items: center;
        justify-content: center;
    }
    a{
        display: inline;
        text-align: center;
        justify-content: center;
        font-family: $fuente2;
        color: $color-secondary;
        font-weight: 600;
        font-size: 40px;
    }
}

// RECIBÍ LAS OFERTAS DE URBAN-VIBE

.recibi-ofertas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    .text-ofer{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    h4{
        font-family: $fuente2;
        font-size: 30px;
        font-weight: 600;
        margin-top: 50px;
    }
    p{
        font-family: $fuente2;
        font-size: 15px;
    }
    .barra1{
        display: flex;
        width: 350px;
        height: 40px;
        padding: 0 20px;
        font-size: 15px;
        outline: none;
        border-radius: 15px;
        margin-bottom: 50px;
        background-color:#d6d5d52d;
        border: 2px solid rgb(88, 88, 88);
    }
}

// FOOTER

.conteiner1 {
    background-color: $color-head-footer;
    box-shadow: 0 0 10px black;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
    .footer {
        position: absolute;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
    }
    .footer-row {
        flex-wrap: wrap;
        display: flex;
        text-align: center;
        justify-content: center;
        text-align: center;
        
    }
    .footer-links {
        width: 30%;
        padding: 0 10px;
    }
        h4{
        color: $color-secondary;
        font-size: 16px;
        margin-top: 35px;
        font-weight: 700;
        border-bottom: 2px solid #222;
        display: inline-block;
        padding-bottom: 15px;
    }
    i{
        color: #ff8400;
        display: inline;
        align-items: center;
        justify-content: center;
    }
    a{
        font-size: 13px;
        display: inline-block;
        align-items: center;
        margin-bottom: 10px;
        margin-right: 10px;
        justify-content: center;
        transition: all 0.1s ease;
        &:hover{
        transform: scale(1.03);
        }
    }
}

// CONTACTOS

.form1{
    display: flex;
    align-items: center;
    justify-content: center;
    .imagen-statue{
        overflow: hidden;
        max-width: $ancho;
    }
.input-grupo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    text-align: left;
    background-color: rgba(74, 74, 74, 0.098);
    backdrop-filter: blur(8px);
    padding: 5%;
    border-radius: 20px;
    transition: all 0.400s;
    &:hover{
        transform: scale(1.01);
    }
    .label1{
        color: $color-secondary;
        align-items: center;
        justify-content: center;
        font-family: $fuente2;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 8px;
    }
    input, textarea {
        color: $color-secondary;
        resize: vertical;
        padding: 5px 20px;
        border-radius: 10px;
        margin-bottom: 15px;
        background-color: #ececec2d;
        border: 2px solid rgb(90, 90, 90);
        outline: none;
        input::placeholder, textarea::placeholder {
        color: #ffffff;
        }
        .btn {
            font-size: 16px;
            color: $color-secondary;
            border: 0;
            border-radius: 15px;
            background-color: rgb(36, 43, 43);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
            cursor: pointer;
            &:hover{
            background-color: $color-secondary;}
            &:active{
                background-color: rgb(160, 160, 160);
            }
        }
        } 
    }
}

@import "./partials/queries";